<div class=" my_footer " style="background-color: #838281;">
  <div class="footer_p" >
    <p>&copy; cake_ology pvt ltd</p>
  </div>
     <div class="myFootericons" >
      <ul>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-facebook" style="color: #000000;"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-twitter" style="color: #000000;"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-linkedin" style="color: #000000;"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/cake__ology_"><i class="fa fa-instagram" style="color: #000000;"></i></a>
        </li>
      </ul>

     </div>              
</div>